<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onecard.auth.infrastructure.persistence.mapper.loan.SysConfigMapper">

	 <resultMap type="com.onecard.auth.infrastructure.persistence.entity.loan.SysConfigDO" id="BaseResultMap">
    	 <id column="id" property="id" /> 
		  <id column="optionKey" property="optionKey" /> 
		  <id column="optionValue" property="optionValue" /> 
		  <id column="valueType" property="valueType" /> 
		  <id column="remark" property="remark" /> 
		  <id column="status" property="status" /> 
		  <id column="system" property="system" /> 
		  <id column="creator" property="creator" /> 
		  <id column="createDate" property="createDate" /> 
		  <id column="updator" property="updator" /> 
		  <id column="updateDate" property="updateDate" /> 
		  <id column="tenantId" property="tenantId" /> 
  
    </resultMap>
    <sql id="Base_Column_List">
    	 sysconfig.id as id ,
 		 sysconfig.optionKey as optionKey ,
 		 sysconfig.optionValue as optionValue ,
 		 sysconfig.valueType as valueType ,
 		 sysconfig.remark as remark ,
 		 sysconfig.status as status ,
 		 sysconfig.system as system ,
 		 sysconfig.creator as creator ,
 		 sysconfig.createDate as createDate ,
 		 sysconfig.updator as updator ,
 		 sysconfig.updateDate as updateDate ,
 		 sysconfig.tenant_id as tenantId
    </sql>
    
    <select id="findById" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		 select 
 		  <include refid="Base_Column_List" />
 		  from wk_sysconfig sysconfig
 		  where sysconfig.id = #{ id }
	</select>
	<select id="findByKey" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from wk_sysconfig sysconfig
		where  optionKey = #{optionKey} and `system` = #{system} limit 1
	</select>
	<delete id="deleteById" parameterType="java.lang.Long">
		 delete 
 		  from wk_sysconfig
 		  where id = #{ id }
	</delete>
	
	<insert id="insertSelective" parameterType="com.onecard.auth.infrastructure.persistence.entity.loan.SysConfigDO">
		 insert into  wk_sysconfig
 		  <trim prefix="(" suffix=")" suffixOverrides=","> 
 			 <if test="id != null">
 				 id,
 			  </if>
 			 <if test="optionKey != null">
 				 optionKey,
 			  </if>
 			 <if test="optionValue != null">
 				 optionValue,
 			  </if>
 			 <if test="valueType != null">
 				 valueType,
 			  </if>
 			 <if test="remark != null">
 				 remark,
 			  </if>
 			 <if test="status != null">
 				 status,
 			  </if>
 			 <if test="system != null">
 				 system,
 			  </if>
 			 <if test="creator != null">
 				 creator,
 			  </if>
 			 <if test="createDate != null">
 				 createDate,
 			  </if>
 			 <if test="updator != null">
 				 updator,
 			  </if>
 			 <if test="updateDate != null">
 				 updateDate,
 			  </if>
 			 <if test="tenantId != null">
 				 tenant_id,
 			  </if>
 		  </trim>
 		  <trim prefix="values (" suffix=")" suffixOverrides="," >
 			 <if test="id != null">
 				 #{id},
 			  </if>
 			 <if test="optionKey != null">
 				 #{optionKey},
 			  </if>
 			 <if test="optionValue != null">
 				 #{optionValue},
 			  </if>
 			 <if test="valueType != null">
 				 #{valueType},
 			  </if>
 			 <if test="remark != null">
 				 #{remark},
 			  </if>
 			 <if test="status != null">
 				 #{status},
 			  </if>
 			 <if test="system != null">
 				 #{system},
 			  </if>
 			 <if test="creator != null">
 				 #{creator},
 			  </if>
 			 <if test="createDate != null">
 				 #{createDate},
 			  </if>
 			 <if test="updator != null">
 				 #{updator},
 			  </if>
 			 <if test="updateDate != null">
 				 #{updateDate},
 			  </if>
 			 <if test="tenantId != null">
 				 #{tenantId},
 			  </if>
 		  </trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.onecard.auth.infrastructure.persistence.entity.loan.SysConfigDO">
		 update   wk_sysconfig
 		 <set>
 			 <if test="optionKey != null">
 				 optionKey = #{optionKey},
 			  </if>
 			 <if test="optionValue != null">
 				 optionValue = #{optionValue},
 			  </if>
 			 <if test="valueType != null">
 				 valueType = #{valueType},
 			  </if>
 			 <if test="remark != null">
 				 remark = #{remark},
 			  </if>
 			 <if test="status != null">
 				 status = #{status},
 			  </if>
 			 <if test="system != null">
 				 system = #{system},
 			  </if>
 			 <if test="creator != null">
 				 creator = #{creator},
 			  </if>
 			 <if test="createDate != null">
 				 createDate = #{createDate},
 			  </if>
 			 <if test="updator != null">
 				 updator = #{updator},
 			  </if>
 			 <if test="updateDate != null">
 				 updateDate = #{updateDate},
 			  </if>
 			 <if test="tenantId != null">
 				 tenant_id = #{tenantId},
 			  </if>
 		 </set>
     where id = #{id}
	</update>
	
	 <select id="getList" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		 select 
 		  <include refid="Base_Column_List" />
 		  from wk_sysconfig sysconfig
 		  where 1=1 
 		 <if test="id != null">
 			 and sysconfig.id = #{id}
 		  </if>
 		 <if test="optionKey != null">
 			 and sysconfig.optionKey = #{optionKey}
 		  </if>
 		 <if test="optionValue != null">
 			 and sysconfig.optionValue = #{optionValue}
 		  </if>
 		 <if test="valueType != null">
 			 and sysconfig.valueType = #{valueType}
 		  </if>
 		 <if test="remark != null">
 			 and sysconfig.remark = #{remark}
 		  </if>
 		 <if test="status != null">
 			 and sysconfig.status = #{status}
 		  </if>
 		 <if test="system != null">
 			 and sysconfig.system = #{system}
 		  </if>
 		 <if test="creator != null">
 			 and sysconfig.creator = #{creator}
 		  </if>
 		 <if test="createDate != null">
 			 and sysconfig.createDate = #{createDate}
 		  </if>
 		 <if test="updator != null">
 			 and sysconfig.updator = #{updator}
 		  </if>
 		 <if test="updateDate != null">
 			 and sysconfig.updateDate = #{updateDate}
 		  </if>
 		 <if test="tenantId != null">
 			 and sysconfig.tenant_id = #{tenantId}
 		  </if>
	</select>
	 <select id="getListCount" resultType="java.lang.Integer"
		parameterType="java.util.Map">
		 select 
 		  count(sysconfig.id)
 		  from wk_sysconfig sysconfig
 		  where 1=1 
 		 <if test="id != null">
 			 and sysconfig.id = #{id}
 		  </if>
 		 <if test="optionKey != null">
 			 and sysconfig.optionKey = #{optionKey}
 		  </if>
 		 <if test="optionValue != null">
 			 and sysconfig.optionValue = #{optionValue}
 		  </if>
 		 <if test="valueType != null">
 			 and sysconfig.valueType = #{valueType}
 		  </if>
 		 <if test="remark != null">
 			 and sysconfig.remark = #{remark}
 		  </if>
 		 <if test="status != null">
 			 and sysconfig.status = #{status}
 		  </if>
 		 <if test="system != null">
 			 and sysconfig.system = #{system}
 		  </if>
 		 <if test="creator != null">
 			 and sysconfig.creator = #{creator}
 		  </if>
 		 <if test="createDate != null">
 			 and sysconfig.createDate = #{createDate}
 		  </if>
 		 <if test="updator != null">
 			 and sysconfig.updator = #{updator}
 		  </if>
 		 <if test="updateDate != null">
 			 and sysconfig.updateDate = #{updateDate}
 		  </if>
 		 <if test="tenantId != null">
 			 and sysconfig.tenant_id = #{tenantId}
 		  </if>
	</select>
</mapper>